<app-header></app-header>

<div class="container dashboard-mainContainerBlock">
  <div class="row">
    <div class="medium-4 columns">
      <div class="dashboard-card">
        <div class="toolbar"></div>
      </div>
      <div class="dashboard-card">
        <div class="toolbar"></div>
      </div>
    </div>
    <div class="medium-8 columns">

      <div class="timeline future">

        <div class="timeline-item">
          <div class="timeline-icon"><i class="fa fa-calendar-plus-o"></i></div>
          <div class="timeline-content">
            <h2 class="timeline-content-date">2008</h2>
              <p>The ZURB Style Guide istion.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-icon"><i class="fa fa-calendar-plus-o"></i></div>
          <div class="timeline-content right">
            <h2 class="timeline-content-date">2008</h2>
              <p>The ZURB Style Guide istion.</p>
          </div>
        </div>
      </div>

      <div class="timeline past">

        <div class="timeline-item">
          <div class="timeline-icon"><i class="fa fa-check-square-o"></i></div>
          <div class="timeline-content">
            <h2 class="timeline-content-date">2008</h2>
              <p>The ZURB Style Guide istion.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-icon"><i class="fa fa-check-square-o"></i></div>
          <div class="timeline-content right">
            <h2 class="timeline-content-date">2008</h2>
              <p>The ZURB Style Guide istion.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
