.dashboard-card {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 12px 32px;
    -webkit-box-shadow: 1px 1px 15px 1px #d2d2d2;
    box-shadow: 1px 1px 15px 1px #d2d2d2;
}
